$button-font-size: px-to-rem(14) !default;
$button-padding: px-to-rem(10) px-to-rem(12) !default;
$button-radius: px-to-rem(6) !default;

$button-size: (
        small: (
                font-size: px-to-rem(12),
                padding: px-to-rem(6) px-to-rem(9)
        ),
        medium: (
                font-size: $button-font-size,
                padding: $button-padding
        ),
        large: (
                font-size: px-to-rem(18),
                padding: px-to-rem(10) px-to-rem(12)
        )
) !default;

$button-font-family: $default-font-family!default;

@mixin button {
  .button {
    outline: 0;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: px-to-rem(1) solid transparent;
    color: #fff;
    font-family: $button-font-family;
    font-size: $button-font-size;
    padding: $button-padding;
    border-radius: $button-radius;
    @each $name, $color in $colors-palette {
      &.#{$name} {
        background-color: $color;
        &:hover {
          background-color: scale-color($color, $lightness: -15%);
        }
      }
    }
    @each $name, $values in $button-size {
      &.#{$name} {
        @each $property, $value in $values {
          #{$property}: #{$value};
        }
      }
    }
  }
}