// Transform px to em
@function px-to-em($value) {
  $value: strip-unit($value);
  @return $value / 16 * 1em;
}

// Transform px to percents
@function px-to-percents($value) {
  $value: strip-unit($value);
  @return $value / 16 * 100%;
}

// Transform em to px
@function em-to-px($value) {
  $value: strip-unit($value);
  @return $value * 16px
}

// Transform em to percents
@function em-to-percents($value) {
  $value: strip-unit($value);
  $emToPx: strip-unit(em-to-px($value));
  @return px-to-percents($emToPx);
}

// Transform percents to px
@function percents-to-px($value) {
  $value: strip-unit($value);
  @return $value/100 *16px;
}

// transform percents to em
@function percents-to-em($value) {
  $value: strip-unit($value);
  @return $value/100 * 1em;
}