$background: #f4fff5!global;
$primary: #44a0c5!global;
$secondary: #938BA1!global;

$colors-palette: (
        primary: $primary,
        secondary: $secondary,
) !global;

@mixin color {
  @each $name, $color in $colors-palette {
    .#{$name}-color { color: $color }
    .#{$name}-bg { background-color: $color }
  }
}