$grid-view-columns: 12!default;
$grid-max-width: px-to-rem(1200)!default;
$default-row-spacing: px-to-rem(15)!default;

@mixin grid {

  .grid {
    margin: 0 auto;
    width: 100%;
    padding-left: $default-row-spacing;
    padding-right: $default-row-spacing;
    @include breakpoint(large-up) {
      max-width: $grid-max-width;
    }
  }
  .row {
    margin-left: -$default-row-spacing;
    margin-right: -$default-row-spacing;
    @include clearfix;
  }

  .column {
    float: left;
    position: relative;
    padding-left: $default-row-spacing;
    padding-right: $default-row-spacing;
  }

  @for $i from 1 through length($breakpoints) {
    @for $c from 1 through $grid-view-columns {
      @if $i < 4 {
        $min: nth(nth($breakpoints, $i), 2);
        @media screen and (min-width: #{$min}) {
          .#{nth(nth($breakpoints, $i), 1)}-#{$c} {
            width: $c/$grid-view-columns * 100%;
          }
        }
      }
    }
  }
}