$default-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;

// headers
$h-size: (
        (
                h1: (font-size: px-to-rem(24), margin-bottom: px-to-rem(10)),
                h2: (font-size: px-to-rem(21), margin-bottom: px-to-rem(10)),
                h3: (font-size: px-to-rem(20), margin-bottom: px-to-rem(10)),
                h4: (font-size: px-to-rem(18), margin-bottom: px-to-rem(10)),
                h5: (font-size: px-to-rem(16), margin-bottom: px-to-rem(10)),
                h6: (font-size: px-to-rem(14), margin-bottom: px-to-rem(10))
        ),
        (
                h1: (font-size: px-to-rem(48), margin-bottom: px-to-rem(20)),
                h2: (font-size: px-to-rem(42), margin-bottom: px-to-rem(20)),
                h3: (font-size: px-to-rem(40), margin-bottom: px-to-rem(20)),
                h4: (font-size: px-to-rem(36), margin-bottom: px-to-rem(20)),
                h5: (font-size: px-to-rem(32), margin-bottom: px-to-rem(20)),
                h6: (font-size: px-to-rem(28), margin-bottom: px-to-rem(20))
        )
) !default;

@mixin typography {
  @for $h from 1 through length($h-size) {
    @for $i from 1 through length($breakpoints) {
      @if $i < length($h-size) {
        $min: nth(nth($breakpoints, $i), 2);
        $max: nth(nth($breakpoints, $i+1), 2);

        @each $h-size, $values in nth($h-size, $i) {
          @media screen and (min-width: #{$min}) and (max-width: #{$max}) {
            #{$h-size}, .#{$h-size} {
              @each $property, $value in $values {
                #{$property}: #{$value};
              }
            }
          }
        }
      } @else if $i == length($h-size) {
        $min: nth(nth($breakpoints, $i), 2);
        @each $h-size, $values in nth($h-size, $i) {
          @media screen and (min-width: #{$min}) {
            #{$h-size}, .#{$h-size} {
              @each $property, $value in $values {
                #{$property}: #{$value};
              }
            }
          }
        }
      }
    }
  }

}

