@media screen and (min-width: 0) {
  #div {
    /* small-up */
    display: block;
  }
}

@media screen and (min-width: 0) and (max-width: 640px) {
  #div {
    /* small-only */
    display: inline-block;
  }
}

@media screen and (max-width: 640px) {
  #div {
    /* small-down */
    display: block;
  }
}

@media screen and (min-width: 640px) {
  #div {
    /* medium-up */
    display: block;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  #div {
    /* medium-only */
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  #div {
    /* medium-down */
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  #div {
    /* large-up */
    display: table;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  #div {
    /* large-only */
    display: table;
  }
}

@media screen and (max-width: 1200px) {
  #div {
    /* large-down */
    display: table;
  }
}
